    <h6 class="card-subtitle mb-2 text-body-secondary">Crazy4Cats  </h6>
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"> <strong>Usuario:</strong><%= post.user.name %> </p>
    <p class="card-text">  <strong>Descripción:</strong><%= post.description %></p>
    <p class="card-text"> <%= post.place %></p>
    <p class="card-text"> <%= post.when_went %> </p>

