<p style="color: green"><%= notice %></p>
<div class="card" style="width: 18rem;">
  <div class="card-body">
      <%= render @post %>
      <%= link_to "Editar", edit_post_path(@post),class:"card-link" %> 
      <%= link_to "Regresar", posts_path,class:"card-link" %>
      <%= button_to "Eliminar", @post, method: :delete %>
  </div>
</div>
